<div class="overlay"></div>
<div id="canvas-wrapper">
	<canvas id="maincanvas" width="1200" height="460" onmousemove="jfarm.mousemove(event);"></canvas>
</div>
<div class="modal">
	<div id="modal-tabs" class="clear-fix">
		<ul class="tabs">
            <li>
                <span class="tab-link current">Weapons</span>
            </li>
            <li>
                <span class="tab-link">Autre</span>
            </li>
        </ul>
	</div>
	<div id="modal-tabs-content">
        <div class="tab-content">
			<h3>Weapons</h3>
			<div class="weapons clear-fix">
				<div class="img pull-left">
					<img src="images/weapons/fourche.png" alt="Fork" data-name="fork" class="weapon">
					<p>Fork</p>
				</div>
				<div class="img pull-left">
					<img src="images/weapons/bat.png" alt="Bat" data-name="bat" class="weapon">
					<p>Bat</p>
				</div>
				<div class="img pull-left">
					<img src="images/weapons/tronconneuse.png" alt="Chainsaw" data-name="chainsaw" class="weapon">
					<p>Chainsaw</p>
				</div>
				<div class="img pull-left">
					<img src="images/weapons/ak47.png" alt="AK47" data-name="ak47" class="weapon">
					<p>AK47</p>
				</div>
			</div>
			<h3>Accessories</h3>
			<div class="clear-fix">
				<div class="img pull-left">
					<img src="images/weapons/arrosoir.png" alt="accessories" data-name="watering can" class="accessory">
					<p>Watering can</p>
				</div>
			</div>
        </div>
        <div class="tab-content">
        	
        </div>
    </div>
</div>
<div id="modal-c" class="modal-elements">
	<div>
		<div class="txt-blue">Crop actions</div>
		<hr>
		<div class="element-actions clear-fix">
			<div class="action-element action-water"></div>
			<div class="action-element action-fertilize"></div>
			<div class="action-element action-harvest"></div>
			<div class="action-element action-harvest-sell"></div>
		</div>
		<div class="action-display">
			<div class="action-txt">Watering</div>
			<div class="action-txt">Fertilizing (10 ch.)</div>
			<div class="action-txt">Harvesting</div>
			<div class="action-txt">Harvesting and sell</div>
		</div>
	</div>
</div>
<div id="modal-b" class="modal-elements">
	<div>
		<div class="txt-blue">Building actions</div>
		<hr>
		<span id="building-maxCapacity"><strong>Max capacity :</strong></span><br />
		<span id="building-currentCapacity"><strong>Current capacity :</strong></span><br />
		<hr>
		<div id="elements-stocked">
		</div>
		<hr>
		<div id="elements-harvesting" class="element-actions clear-fix">
		</div>
	</div>
</div>
<div id="top-actions" class="borders-action clear-fix">
	<div class="block pull-left clear-fix">
		<div class="title-t pull-left txt-blue">
			Create &bull;
		</div>
		<div class="pull-left">
			<form action="/alliance/create" method="post" id="formCreateAlliance" class="standard-form">
				<input type="hidden" value="create" id="method" name="method" />
				<input type="hidden" value="<%= player.id %>" name="id" />
				<div class="controls">
					<div class="pull-left">
						<input id="name" name="name" type="text" placeholder="name" required>
					</div>
					<div class="pull-left">
						<button type="submit" class="btn-flat btn-flat-blue">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="block pull-right clear-fix">
		<div class="pull-left">
			<button type="button" class="btn-flat btn-flat-green pull-right switch">Switch</button>
		</div>
		<div class="pull-left">
			<div id="search-a" class="standard-form">
				<div class="controls">
					<div class="pull-left">
						<input id="searchA" name="name" type="text" placeholder="Alliance">
						<div class="results resultsA"></div>
						<div class="resultShow resultShowA"></div>
					</div>
				</div>
			</div>
			<div id="search-p" class="standard-form">
				<div class="controls">
					<div class="pull-left">
						<input id="searchP" name="name" type="text" placeholder="Player">
						<div class="results resultsP"></div>	
						<div class="resultShow resultShowP"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="title-t pull-left txt-green">
			&bull; Search
		</div>
	</div>
</div>
<div id="top-actions-notif"></div>
<div id="right-actions" class="clear-fix center">
	<div class="buttons clear-fix">
		<button class="button pull-left"><i class="icon-leaf"></i></button>
		<button class="button pull-left"><i class="icon-home"></i></button>
	</div>
	<div id="creator" class="center">
		<div class="crops">
			<ul>
				<li>
					<img src="images/buildings/wheat.png" alt="Wheat" data-value="wheat" data-type="crop" class="crop">
					<p>Wheat (20 ch.)</p>
				</li>
				<li>
					<img src="images/buildings/corn.png" alt="Corn" data-value="corn" data-type="crop" class="crop">
					<p>Corn (20 ch.)</p>
				</li>
				<li>
					<img src="images/buildings/tomatoes.png" alt="Tomatoes" data-value="tomatoes" data-type="crop" class="crop">
					<p>Tomatoes (20 ch.)</p>
				</li>
			</ul>
		</div>
		<div class="buildings">
			<ul>
				<li>
					<img src="images/buildings/silo.png" alt="Silo" data-value="silo" data-type="building" class="building">
					<p>Silo (500 ch.)</p>
				</li>
				<li>
					<img src="images/buildings/barn.png" alt="Barn" data-value="barn" data-type="building" class="building">
					<p>Barn (1000 ch.)</p>
				</li>
				<li>
					<img src="images/buildings/coldstorage.png" alt="Cold storage" data-value="cold storage" data-type="building" class="building">
					<p>Cold storage (2000 ch.)</p>
				</li>
			</ul>
		</div>
	</div>
	<div class="creator-esc txt-green">ESC to cancel</div>
</div>
<div id="content-actions-notif"></div>
<div id="content-actions" class="borders-action clear-fix">
	<div class="p10 clear-fix" >
		<div class="w500 block pull-left" id="content-actions-left">
			<div>
				<button type="button" class="btn-flat btn-flat-blue showBuildings">Create</button>
				<!-- <button type="button" class="btn-flat btn-flat-blue">Actions</button> -->
			</div>
			<div>
				<div class="block pull-left w230">
					<div class="title-b">Tile</div>
					<div class="min-block" id="tile-wrapper">
						<span><strong>Free :</strong> <span id="tile-free" class="tile-property-value"></span></span><br />
						<span><strong>State :</strong> <span id="tile-state" class="tile-property-value"></span></span><br />
						<span><strong>Owner :</strong> <span id="tile-owner" class="tile-property-value"></span></span><br />
						<span><strong>Humidity :</strong> <span id="tile-humidity" class="tile-property-value"></span></span><br />
						<span><strong>Fertility :</strong> <span id="tile-fertility" class="tile-property-value"></span></span><br />
					</div>
				</div>
				<div class="block pull-left w230" id="object-wrapper">
					<div class="title-b">Object</div>
					<div class="min-block">
						<span><strong>Type :</strong> <span id="object-type" class="object-property-value"></span></span><br />
						<span><strong>Owner :</strong> <span id="object-owner" class="object-property-value"></span></span><br />
						<!-- <span><strong>Alliance :</strong> <span id="object-alliance"></span></span><br /> -->
					</div>
				</div>
			</div>
		</div>
		<div class="block pull-left">
			<div id="main-circle">
				<div class="main-circle-data" id="player-data-buildings"></div>
				<div class="main-circle-data" id="player-data-life"></div>
				<div class="main-circle-data" id="player-data-tiles"></div>
				<div class="main-circle-data" id="player-data-level"></div>
			</div>
			<div id="labels">
	            <label for="buildings" class="label-b"></label>
	            <label for="life" class="label-b"></label>
	            <label for="tiles" class="label-b"></label>
	            <label for="level" class="label-b"></label>
	        </div>
	        <div id="tooltip-b">
	        	<span>Buildings</span>
	        	<span>Life (%)</span>
	        	<span>Tiles</span>
	        	<span>Level</span>
	        </div>
		</div>
		<div class="block pull-right w500 clear-fix">
			<div class="pull-left">
				<div class="title-b"><%= player.name %></div>
				<canvas id="mapcanvas" width="220" height="220"></canvas>
				<input type="hidden" name="skinColor" id="inputSkin" value="<%= player.skinColor %>">
				<input type="hidden" name="hairColor" id="inputHair" value="<%= player.hairColor %>">
				<input type="hidden" name="pantsColor" id="inputPants" value="<%= player.pantsColor %>">
				<input type="hidden" name="tshirtColor" id="inputShirt" value="<%= player.tshirtColor %>">
			</div>
			<div class="pull-right">
				<div class="clear-fix">
					<div class="buttons game-actions pull-right">
					   <button class="button pull-left active" title="move player's ass" data-action="movingPlayer"><i class="icon-screenshot"></i></button>
					   <!-- <button class="button pull-left" title="select fucking object" data-action="selectingObject"><i class="icon-hand-up"></i></button> -->
					   <button class="button pull-left" title="Conquer !!!!" data-action="conquer"><i class="icon-plus-sign"></i></button>
					   <!-- <button class="button pull-left" title="Watering my crops !" data-action="water"><i class="icon-tint"></i></button> -->
					</div>
				</div>
				<div class="content-b">
					<div class="clear-fix">
						<button type="button" class="btn-flat btn-flat-green pull-right popup-r">Inventory </button>
						<button type="button" class="btn-flat btn-flat-green pull-right popup-t">Alliances </button>
					</div>
					<div class="min-block" id="player-wrapper">
						<span><strong>Money :</strong> <span id="player-money"></span></span><br />
						<!-- <span><strong>Level :</strong> <span id="player-level"></span><%= player.level %></span><br /> -->
						<span><strong>Alliance :</strong> <span id="player-alliance">no alliance</span></span><br />
						<!-- <span><strong>Tiles :</strong> <span id="object-nbtiles"></span></span><br /> -->
						<!-- <span><strong>Ghost mode :</strong> <span id="object-ghost"></span></span><br /> -->
						<!-- <span><strong>Buildings :</strong> <span id="object-nbbuildings"></span></span> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(function() {
		$("html").addClass("game");

		var rightActionsHeight = $('section').height() - $('footer').height() - $('header').height();
		$('#right-actions').css('height', rightActionsHeight);

		// to retrieve logged player details from server in jfarm sceneready
		jfarm.playerId = <%= player.id %>;
		jfarm.respawnX = <%= player.respawnX %>;
		jfarm.respawnY = <%= player.respawnY %>;

	});
</script>
<script src="js/mapShow.js"></script>
<script src="js/jfarm.io.js"></script>
<script src="js/jfarm.js"></script>
<script src="js/jfarm.ready.js"></script>