<div id="canvas-wrapper">
	<canvas id="maincanvas" width="1200" height="460" onmousemove="jfarm.mousemove(event);"></canvas>
</div>
<div id="right-actions" class="clear-fix center">
	<span>ESC to cancel</span> 
	<div class="buttons clear-fix">
		<button class="button pull-left"><i class="icon-leaf"></i></button>
		<button class="button pull-left"><i class="icon-home"></i></button>
	</div>
	<div id="creator" class="center">
		<div class="crops">
			<ul>
				<li>
					<img src="images/buildings/wheat.png" alt="Wheat" data-value="wheat" class="crop">
					<p>Wheat (20 ch.)</p>
				</li>
				<li>
					<img src="images/buildings/corn.png" alt="Corn" data-value="corn" class="crop">
					<p>Corn (20 ch.)</p>
				</li>
				<li>
					<img src="images/buildings/tomatoes.png" alt="Tomatoes" data-value="tomatoes" class="crop">
					<p>Tomatoes (20 ch.)</p>
				</li>
			</ul>
		</div>
		<div class="buildings">
			<ul>
				<li>
					<img src="images/buildings/silo.png" alt="Silo" data-value="silo" class="building">
					<p>Silo (500 ch.)</p>
				</li>
				<li>
					<img src="images/buildings/barn.png" alt="Barn" data-value="barn" class="building">
					<p>Barn (1000 ch.)</p>
				</li>
				<li>
					<img src="images/buildings/coldstorage.png" alt="Cold storage" data-value="coldstorage" class="building">
					<p>Cold storage (2000 ch.)</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="content-actions" class="borders-action clear-fix">
	<div class="p10 clear-fix" >
		<div class="w500 block pull-left" id="content-actions-left">
			<div>
				<button type="button" class="btn-flat btn-flat-blue showBuildings">Create</button>
				<button type="button" class="btn-flat btn-flat-blue">Actions</button>
			</div>
			<div>
				<div class="block pull-left w230">
					<div class="title-b">Tile</div>
					<div class="min-block" id="tile-wrapper">
						<span><strong>Free :</strong> <span id="tile-free" class="tile-property-value"></span></span><br />
						<span><strong>State :</strong> <span id="tile-state" class="tile-property-value"></span></span><br />
						<span><strong>Owner :</strong> <span id="tile-owner" class="tile-property-value"></span></span><br />
						<span><strong>Humidity :</strong> <span id="tile-humidity" class="tile-property-value"></span></span><br />
						<span><strong>Fertility :</strong> <span id="tile-fertility" class="tile-property-value"></span></span><br />
					</div>
				</div>
				<div class="block pull-left w230" id="object-wrapper">
					<div class="title-b">Object</div>
					<div class="min-block">
						<span><strong>Type :</strong> <span id="object-type"></span></span><br />
						<span><strong>Owner :</strong> <span id="object-owner"></span></span><br />
						<span><strong>Alliance :</strong> <span id="object-alliance"></span></span><br />
					</div>
				</div>
			</div>
		</div>
		<div class="block pull-left">
			<div id="main-circle">
				<div class="main-circle-data" id="player-data-buildings"></div>
				<div class="main-circle-data" id="player-data-life"></div>
				<div class="main-circle-data" id="player-data-tiles"></div>
				<div class="main-circle-data" id="player-data-level"></div>
			</div>
			<div id="labels">
	            <label for="buildings" class="label-b"></label>
	            <label for="life" class="label-b"></label>
	            <label for="tiles" class="label-b"></label>
	            <label for="level" class="label-b"></label>
	        </div>
	        <div id="tooltip-b">
	        	<span>Buildings</span>
	        	<span>Life (%)</span>
	        	<span>Tiles</span>
	        	<span>Level</span>
	        </div>
		</div>
		<div class="block pull-right w500 clear-fix">
			<div class="modal">
				<h3>Weapons</h3>
				<div class="weapons clear-fix">
					<div class="img pull-left">
						<img src="images/weapons/fourche.png" alt="Fork" data-name="fork" class="weapon">
						<p>Fork</p>
					</div>
					<div class="img pull-left">
						<img src="images/weapons/bat.png" alt="Bat" data-name="bat" class="weapon">
						<p>Bat</p>
					</div>
					<div class="img pull-left">
						<img src="images/weapons/tronconneuse.png" alt="Chainsaw" data-name="chainsaw" class="weapon">
						<p>Chainsaw</p>
					</div>
					<div class="img pull-left">
						<img src="images/weapons/ak47.png" alt="AK47" data-name="ak47" class="weapon">
						<p>AK47</p>
					</div>
				</div>
				<h3>Accessories</h3>
				<div class="clear-fix">
					<div class="img pull-left">
						<img src="images/weapons/arrosoir.png" alt="accessories" data-name="watercan" class="accessory">
						<p>Watering can</p>
					</div>
				</div>
			</div>
			<div class="pull-left">
				<div class="title-b"><%= player.name %></div>
				<canvas id="playercanvas" width="220" height="220"></canvas>
				<input type="hidden" name="skinColor" id="inputSkin" value="<%= player.skinColor %>">
				<input type="hidden" name="hairColor" id="inputHair" value="<%= player.hairColor %>">
				<input type="hidden" name="pantsColor" id="inputPants" value="<%= player.pantsColor %>">
				<input type="hidden" name="tshirtColor" id="inputShirt" value="<%= player.tshirtColor %>">
			</div>
			<div class="pull-right">
				<div class="clear-fix">
					<div class="buttons game-actions pull-right">
					   <button class="button pull-left active" title="move player's ass" data-action="movingPlayer"><i class="icon-screenshot"></i></button>
					   <!-- <button class="button pull-left" title="select fucking object" data-action="selectingObject"><i class="icon-hand-up"></i></button> -->
					   <button class="button pull-left" title="Conquer !!!!" data-action="conquer"><i class="icon-plus-sign"></i></button>
					   <button class="button pull-left">?</button>
					</div>
				</div>
				<div class="content-b">
					<div class="clear-fix">
						<button type="button" class="btn-flat btn-flat-green pull-right popup">Weapons </button>
					</div>
					<div class="min-block" id="player-wrapper">
						<span><strong>Money :</strong> <span id="player-money"></span></span><br />
						<!-- <span><strong>Level :</strong> <span id="player-level"></span></span><br /> -->
						<!-- <span><strong>Alliance :</strong> <span id="player-alliance"></span></span><br /> -->
						<!-- <span><strong>Tiles :</strong> <span id="object-nbtiles"></span></span><br /> -->
						<!-- <span><strong>Ghost mode :</strong> <span id="object-ghost"></span></span><br /> -->
						<!-- <span><strong>Buildings :</strong> <span id="object-nbbuildings"></span></span> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$("html").addClass("game");

		var rightActionsHeight = $('section').height() - $('footer').height() - $('header').height();
		$('#right-actions').css('height', rightActionsHeight);

		// to retrieve logged player details from server in jfarm sceneready
		jfarm.playerId = <%= player.id %>;
		jfarm.respawnX = <%= player.respawnX %>;
		jfarm.respawnY = <%= player.respawnY %>;

	});
</script>
<script src="js/playerShow.js"></script>
<script src="js/jfarm.js"></script>
<script src="js/jfarm.ready.js"></script>
