<div class="content clear-fix">
	<h1 class="title">App objects<span class="line"></span></h1>
	<div class="clear-fix">
		<div class="col pull-left w300">
			<h2 class="title">Form<span class="line"></span></h2>
			<form action="/settings/appobject/createEdit" method="post" id="appObject_form" class="standard-form">
				<input type="hidden" value="create" id="method" name="method" />
				<input type="hidden" value="" id="id" name="id" />
				<div class="controls">
					<label for="name">name</label>
					<input id="name" name="name" type="text" placeholder="name" class="boot-input" required></div>
				<div class="controls">
					<label for="gameobjecttype">object type</label>
					<select name="gameobjecttype" id="gameobjecttype" class="boot-input" required>
					<% _.each(gameObjectTypes, function (obj) { %>
						<option value="<%= obj.id %>"><%= obj.name %></option>
					<% }) %>
					</select>
				</div>
				<div class="controls">
					<label for="value">value</label>
					<textarea id="value" name="value" required="true"></textarea>
				</div>
				<hr>
				<button type="submit" class="btn-flat btn-flat-green">Save object</button>
			</form>
		</div>
		<div class="col pull-left w300">
			<h2 class="title">Objects<span class="line"></span></h2>
			<div class="pag-objects">
				<div class="objects-list">
					<% _.each(appObjects, function (obj) { %>
					<div class="object-line">
						<div class="object-cell">
							<%= obj.name %> <%= obj.objectTypeId %>
						</div>
						<div class="object-cell">
							<a href="javascript:void(0)" class="action-get" data-id="<%= obj.id %>" data-url="/appobject/find/">Edit</a>
						</div>
						<div class="object-cell">
							<a href="javascript:void(0)" class="action-delete" data-id="<%= obj.id %>" data-url="/appobject/destroy/">Delete</a>
						</div>
						<% }) %>
					</div>
					<hr>
					<div class="page_navigation"></div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<a href="../settings" title="Game Settings">> Back to game settings</a>
</div>