<!DOCTYPE html>
<html>
<head>
	<title><%- title %></title>

	<!-- Viewport mobile tag for sensible mobile support -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>-->
	<script>window.jQuery || document.write('<script src="js/jquery-2.0.0.min.js"><\/script>')</script>
	
	<!-- JavaScript and stylesheets from your assets folder are included here -->
	<%- assets.css() %>
	<%- assets.js() %>
</head>
<body>
	<section>
		<header>
			<nav class="main">
				<ul class="clear-fix">
					<li>
						<a href="/" title="Game">Game</a>
					</li>
					<li>
						<a href="/contact" title="Contact">Contact</a>
					</li>
					<li>
						<a href="#" title="Account">
							<% if(user.administrator == true){ %>
	                         Administrator
	                        <% } %>
							<%- user.username %></a>
					</li>
				</ul>
			</nav>
			<nav class="sub">
				<ul class="clear-fix">
					<li>
						<a href="/me" title="">View profile</a>
					</li>
					<li class="sep"></li>
					<li>
						<a href="/pwd" title="">Change password</a>
					</li>
	                <% if(user.administrator == true){ %>
	                     <li class="sep"></li>
	                     <li>
	                         <a href="/settings" title="">Game settings</a>
	                     </li>
	                <% } %>
					<li class="sep"></li>
					<li>
						<a href="/logout" title="">Logout</a>
					</li>
				</ul>
			</nav>
		</header>
		<%- body %>
	</section>
	<footer class="borders-action">
		<div class="copyright">
			<span>©jFarm 2013 - Damien Decosne, Justin Asdrubal and Pierrick Martin</span>
		</div>
		<div class="round hide"></div>
	</footer>
</body>
</html>