<div class="content clear-fix">
	<h1 class="title">Profile<span class="line"></span></h1>
	<div class="col pull-left w300">
		<h2 class="title">User<span class="line"></span></h2>
		Username : <div class="profileLabel"><%= user.username %></div>
		Email : <div class="profileLabel"><%= user.email %></div>
	</div>
	<div class="col pull-left w300">
		<h2 class="title">Player<span class="line"></span></h2>
		<input type="hidden" name="skinColor" id="inputSkin" value="<%= player.skinColor %>">
		<input type="hidden" name="hairColor" id="inputHair" value="<%= player.hairColor %>">
		<input type="hidden" name="pantsColor" id="inputPants" value="<%= player.pantsColor %>">
		<input type="hidden" name="tshirtColor" id="inputShirt" value="<%= player.tshirtColor %>">
		<canvas id="playercanvas" width="220" height="220"></canvas>
	</div>
</div>
<script src="js/playerShow.js"></script>